<configuration>
    <property name="TASKFLOW_TEST_LOG_LEVEL" value="${TASKFLOW_TEST_LOG_LEVEL:-OFF}" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} level=%level logger=%logger{36} %msg%n%ex{short}</pattern>
        </encoder>
    </appender>

    <root level="${TASKFLOW_TEST_LOG_LEVEL}">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
